{{ partial "head" . }}
	<body id="top">
		{{ partial "header" . }}

		<div id="main">
			<h1>Blog</h1>

			<p>
				{{ partial "adsense" . }}
			</p>

			<ul>
				{{ range .Paginator.Pages }}
					<li>
						<a href="{{.Permalink}}#main">{{ .Title }}</a>
						&nbsp;
						<i class="fa fa-calendar" aria-hidden="true"></i>
						<time pubdate="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
					</li>
	      {{ end }}
			</ul>

			{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
				<nav class="align-center" role="pagination">
					<ul style="list-style:none;">
						{{ if .Paginator.HasPrev }}
							<li style="display: inline-block;">
								<a href="{{ .Paginator.Prev.URL }}">前へ</a>
							</li>
						{{ end }}
						{{ if .Paginator.HasNext }}
							<li style="display: inline-block;">
								<a href="{{ .Paginator.Next.URL }}">次へ</a>
							</li>
						{{ end }}
				  </ul>
				</nav>
			{{ end }}

		</div>

		{{ partial "footer" . }}
	</body>
</html>
