{{ partial "head" . }}
	<body id="top">
		<div class="remodal-bg">
			{{ partial "header" . }}

			<div id="main">
				<h1>メモ</h1>

				<div style="padding: 10px;">
					<p>
						{{ partial "responsive-ad" . }}
					</p>
				</div>

				<ul>
					{{ range .Paginator.Pages }}
						<li>
							<a href="{{.Permalink}}#main">{{ .Title }}</a>
							&nbsp;
							<i class="fa fa-calendar" aria-hidden="true"></i>
							<time pubdate="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
						</li>
		      {{ end }}
				</ul>

				{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
					<nav class="align-center" role="pagination">
						<ul style="list-style:none;">
							{{ if .Paginator.HasPrev }}
								<li style="display: inline-block;">
									<a href="{{ .Paginator.Prev.URL }}">前へ</a>
								</li>
							{{ end }}
							{{ if .Paginator.HasNext }}
								<li style="display: inline-block;">
									<a href="{{ .Paginator.Next.URL }}">次へ</a>
								</li>
							{{ end }}
					  </ul>
					</nav>
				{{ end }}
				<div class="addthis_relatedposts_inline"></div>
				<p>
					{{ partial "rectangle-ad" . }}
				</p>

			</div>
			{{ partial "footer" . }}
		</div>
		{{ partial "wallet" . }}
	</body>
</html>
